@import "./../base.scss";
@import "./../grid.scss";

.back{
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 28px;
  width: 100%;
  height: 100%;
  cursor: default;
}

.cartBlock,
.cartMobileBlock {
  width: 674px;
  height: 598px;
  background-image: url("/img/window.jpg");
  @include back-img(contain, center, no-repeat);
  position: absolute;
  z-index: 3;
  margin-top: 50px;

  &.cartMobileBlock {
    margin-top: -50px;
    width: 339px;
    height: 471px;
    background-image: url("/img/window-mobile.jpg");
    @include back-img(contain, center, no-repeat);
  }

  .closeButton {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 15px;
    height: 13px;
    padding: 0px;
    background-color: transparent;
    opacity: 1;
    cursor: pointer;
    @include border-radius(0px);
    border: 0px;
    @include box-shadow(none);

    &:hover {
      background-color: $color-black;
      opacity: 0.2;
    }
  }

  .title {
    position: absolute;
    left: 30px;
    top: 7px;
    @include font(12px, 1, $color-white, 400, null);
    @media (max-width: $maxMediaSM){
      top: 9px;
    }
  }

  .address {
    position: absolute;
    left: 75px;
    top: 79px;
    @include font(12px, 1, $color-black, 400, null);
    @media (max-width: $maxMediaSM){
      top: 81px;
    }
  }

  .count {
    position: absolute;
    left: 12px;
    bottom: 8px;
    @include font(12px, 1, $color-black, 400, null);
    @media (max-width: $maxMediaSM){
      bottom: 6px;
    }
  }


  .listContentBlock {
    overflow-x: auto;
    display: flex;
    align-items: top;
    flex-wrap: wrap;

    .nullListBlock {
      @include font(12px, 1, $color-black, 400, null);
    }

    .itemListBlock {
      border: dotted 1px transparent;
      cursor: pointer;
      padding: 2px 3px;
      width: 70px;
      margin: 5px;
      text-align: center;

      &:hover {
        border-color: $color-black;
      }

      .iconItemLB {
        width: 40px;
        display: block;
        margin: 0 auto;
      }

      .nameItemLB {
        display: block;
        margin-top: 10px;
        @include font(12px, 1, $color-black, 400, null);
      }
    }
  }

  .contentBlock {
    position: absolute;
    left: 7px;
    top: 115px;
    bottom: 30px;
    right: 7px;
    overflow-x: auto;

  }

  .showImage {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(155, 153, 147, 0.5);

    img {
      max-width: 600px;
      width: 100%;
    }
  }
}