@import "./../base.scss";
@import "./../grid.scss";

.docBlock,
.docMobileBlock {
  width: 674px;
  height: 598px;
  background-image: url("/img/window.jpg");
  @include back-img(contain, center, no-repeat);
  position: absolute;
  z-index: 4;
  margin-top: 50px;

  &.docMobileBlock{
    width: 339px;
    height: 471px;
    margin-top: 0px;
    background-image: url("/img/window-mobile.jpg");
    @include back-img(contain, center, no-repeat);
  }

  .closeButton {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 15px;
    height: 13px;
    padding: 0px;
    background-color: transparent;
    opacity: 1;
    cursor: pointer;
    @include border-radius(0px);
    border: 0px;
    @include box-shadow(none);

    &:hover {
      background-color: $color-black;
      opacity: 0.2;
    }
  }

  .title {
    position: absolute;
    left: 30px;
    top: 7px;
    @include font(12px, 1, $color-white, 400, null);
    @media (max-width: $maxMediaSM){
      top: 9px;
    }
  }

  .address {
    position: absolute;
    left: 75px;
    top: 79px;
    @include font(12px, 1, $color-black, 400, null);
    @media (max-width: $maxMediaSM){
      top: 81px;
    }
  }

  .count {
    position: absolute;
    left: 12px;
    bottom: 8px;
    @include font(12px, 1, $color-black, 400, null);
    @media (max-width: $maxMediaSM){
      bottom: 6px;
    }
  }

  .docContent {
    position: absolute;
    left: 7px;
    top: 115px;
    bottom: 27px;
    right: 7px;
    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

    .docWrapper {
      display: flex;
      margin: 0 auto;
      background-color: $color-black;
    }

    .docControls {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 550px;
      width: 100%;
      margin: 20px auto 0px;
      position: relative;

      .docViews {
        position: absolute;
        left: 0px;
      }
      .download {
        position: absolute;
        right: 0px;
      }

      .likeButton,
      .likeButtonSelected {
        display: flex;
        align-items: center;
        @include font(14px, 1, $color-black, 400, null);
        @include filter(grayscale(100%));
        @include border-radius(0px);
        background-color: #e1e1e1;

        &:disabled{
          cursor: default;
        }
        &.likeButtonSelected{
          background-color: $color-white;
          cursor: default;
        }
        img {
          width: 30px;
          margin-left: 10px;
        }
      }

      .disLikeButton,
      .disLikeButtonSelected {
        display: flex;
        align-items: center;
        @include font(14px, 1, $color-black, 400, null);
        @include filter(grayscale(100%));
        margin-left: 10px;
        @include border-radius(0px);
        background-color: #e1e1e1;
        
        &:disabled{
          cursor: default;
        }
        &.disLikeButtonSelected{
          background-color: $color-white;
          cursor: default;
        }

        img {
          width: 30px;
          margin-right: 10px;
        }
      }
    }
  }
  
  &.docMobileBlock{
    .docContent {
      .docControls {
        max-width: 315px;
      }
    }
  }
}